/* -*- mode: css; -*- */
@import "config.rasi"

textbox-icon {
  str: "  ";
}

prompt {
  enabled: false;
}

window {
  height: 50%;
  width: 25%;
  anchor:   northwest;
  location:   northwest;
  y-offset: 32px;
}

listview {
  columns: 1;
}
